<div class="appName"> 			

	<img class="logo" src="images/logo.jpg">
	<h1> Pets Playground</h1>
			
</div>

<nav id="header" >
    <a href="/">Home</a>
    <a href="/topsitters">Top Sitters</a>
    <a href="/login">Account</a>
</nav>
