<!DOCTYPE html>
<html>
<head>
    <title> Registration Failed </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/confirmbooking.css">
</head>
<body class='background' style="background-image: url(/images/park.jpg);">

<div class="appName"> 			

	<img class="logo" src="images/logo.jpg">
	<h1> Pets Playground</h1>
			
</div>

<nav id="header" >
    <a href="/">Home</a>
    <a href="/topsitters">Top Sitters</a>
    <a href="/login">Account</a>
</nav>

<div id="container">
    <div id="content">
        <h1 id="title"> Registration Failed! </h1>
        <p> Email is Already Used Please Try Again </p><br>
        <p> Please press the button to go back to Register Page <br>
        <a class="book buttoncenter" style="left: 19%" href="/register"> RETURN </a>
    </div>
</div>

</body>
</html>
