
.uinfo {

    position:relative;
    left: 35%;
    top:15%;
    width:30%;
    height:575px;
    border-width:thin;
    border-style:solid;
    border-color:#f1f1f1;
    color:white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    text-align: center;
}

.uicon {

    position:relative;
    top: 5%;   
    left: 25%; 
    width:150px;
    height:150px;
    border-width:thin;
    border-style:solid;
    border-color:#DFE3EE;
    background-color:white;
}

#edit-profile {

    position:relative;
    top: 20%;
    left:-5%;
}
.info {

    position:relative;
    top:25%;
    left:-350px;
    width:1150px;
    height:150px;
    font-size: 20px;
    text-align: center;
}

.edit-btn {

    height:40px;
    width:150px;
    border-width:thin;
    border-style:solid;
    color: black;
    background-color: white;
}

.edit-btn:hover {

    color: white;
    background-color: black;
    cursor: pointer;
}

.uheader {
    position:relative;
    top:10%;
    left:-10%;
    top:0;
    font-size:25px;
    font-style:italic;
}

.input-field{

    width:300px;
    height:20px;
    border-radius: 3px;
}