.prof-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin-left: 40px;
	margin-right: 100px;
	margin-bottom: 100px;
	text-align: center;
	background-color: white;
	position: relative;
	float: left;
}

.prof-title {
	color: #2a8227;
	font-size: 18px;
}

.a-topsitter {
	text-decoration: none;
	font-size: 22px;
	color: black;
}


.book {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:5px 50px;
	text-decoration:none;
	position: relative;
	width: 40px;
	margin-bottom: 5px;
	margin-top: 5px;

}
.book:hover {
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
.book:active {
	position:relative;
	top:1px;
}

.imgsize {
	width: 275px;
	height: 194px;
}